# [Title] Analysis

### by Yueh-Han Chen

### Dataset Overview

> 


### Research Question:
1. 
2. 
3.

## Data Wrangling

### Gather

In [45]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

# suppress warnings from final output
import warnings
warnings.simplefilter("ignore")

# set up to view all the info of the columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [46]:
#load data
df = pd.read_csv('???.csv')

### Data Assessing

In [47]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [48]:
def basic_info(df):
    print("This dataset has ", df.shape[1], " columns and ", df.shape[0], " rows.")
    print("This dataset has ", df[df.duplicated()].shape[0], " duplicated rows.")
    print(" ")
    print("Descriptive statistics of the numeric features in the dataset: ")
    print(" ")
    print(df.describe())
    print(" ")
    print("Information about this dataset: ")
    print(" ")
    print(df.info())
    print("The number of null values for each columns: ")
    print(" ")
    print(df.isnull().sum())
    print("Row that has any null values: ")
    print(" ")
    print(df[df.isnull().any(axis=1)])

In [ ]:
basic_info(df)

### Assessment report:

**Quality issues**

- 
- 
- 
- 

**Tidiness issues**

- 
- 
- 
-

### Data Cleaning

In [387]:
df_copy = df.copy()

**?????? issue**

**Define:**

#### Code

#### Test

**?????? issue**

**Define:**

#### Code

#### Test

**?????? issue**

**Define:**

#### Code

#### Test

**?????? issue**

**Define:**

#### Code

#### Test

### Final step of Wrangling: Store data

In [392]:
# store the file
df_copy.reset_index(drop=True)
df_copy.to_csv('??????.csv', index=False)

In [393]:
#load data
clean_df = pd.read_csv('??????.csv')

## Exploratory Data Analysis

> Build Visualization Function: desc()

In [1]:
def desc(title=None, xscale=None, yscale=None, xlabel=None, ylabel=None, xlim=None, ylim=None, xticks1=None, xticks2=None, yticks1=None, yticks2=None,legend_title=None, legend_labels=None):
    if title:
        plt.title(title);
    if xscale:
        plt.xscale(xscale);
    if yscale:
        plt.yscale(yscale);
    if xlabel:
        plt.xlabel(xlabel);
    if ylabel:
        plt.ylabel(ylabel);
    if xlim:
        plt.xlim(xlim);
    if ylim:
        plt.ylim(ylim);
    if xticks1:
        plt.xticks(xticks1, xticks2);  # xticks1=range(0, 40000,2000)
    if yticks1:
        plt.yticks(yticks1, yticks2);
    if legend_title:
        plt.legend(title=legend_title);
        if legend_labels:
            plt.legend(title=legend_title, labels=legend_labels);

### See the correlation between variables

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize = (12, 9))
s = sb.heatmap(df.corr(), annot = True, cmap = 'RdBu',vmin = -1, vmax = 1,center = 0)
s.set_yticklabels(s.get_yticklabels(), rotation = 0, fontsize = 12)
s.set_xticklabels(s.get_xticklabels(), rotation = 90, fontsize = 12)
bottom, top = s.get_ylim()
s.set_ylim(bottom + 0.5, top - 0.5)
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
# sb.pairplot(df[['area', 'bedrooms', 'bathrooms']]);  => 看特定變數之間

# 如果變數沒很多可以全部一起看：
sb.pairplot(df)

### See if there are any outliers

In [ ]:
# select columns to plot
df_to_plot = df.drop(columns=['ID', 'AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'Response', 'Complain']).select_dtypes(include=np.number)

# subplots
df_to_plot.plot(subplots=True, layout=(4,4), kind='box', figsize=(12,14), patch_artist=True)
plt.subplots_adjust(wspace=0.5);

## Research Question 1:

> Note:

## Research Question 2:

> Note:

## Research Question 3:

> Note:

## Conclusion

> Limitation 1 :

> Limitation 2 :

> Limitation 3 :

#### Research Question 1: ???

.....

#### Research Question 2: ???

.....
       
#### Research Question 3: ???

.....